<app-person-selector
    [selectedPerson]="selectedPerson()"
    (search)="openDialog()"
    (remove)="removePerson()"/>

<p-dialog [visible]="isMainDialogVisible()" (visibleChange)="isMainDialogVisible.set($event)" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [modal]="true" [style]="{ width: '55vw' }" [draggable]="false" [resizable]="false" [header]="getDialogHeader()">
    <p-tabs [value]="activeTabValue()" (valueChange)="onTabChange($event)">
        <p-tablist>
            <p-tab value="0"><i class="pi pi-search mr-2"></i>Busqueda por Datos</p-tab>
            <p-tab value="1"><i class="pi pi-thumbs-up mr-2"></i>Busqueda por Huellas Dactilares</p-tab>
            <p-tab value="2"><i class="pi pi-face-smile  mr-2"></i>Busqueda por Reconocimiento Facial</p-tab>
        </p-tablist>
        <p-tabpanels>
            <!-- Tab 1 -->
             <p-tabpanel value="0">
                <app-data-search-tab
                    [step]="dataSearchStep()"
                    [searchForm]="searchForm"
                    [personList]="personList()"
                    [totalRows]="totalRows()"
                    [pageSize]="pageSize()"
                    [pageRange]="getPageRange()"
                    (searchRequested)="searchPersonByData()"
                    (addRequested)="addPerson()"
                    (personSelected)="selectPerson($event)"
                    (lazyLoad)="loadPersonTable($event)"
                    (back)="goBackDataStep()">
                <app-add-person-form
                    [form]="form"
                    [addressFormArray]="addressFormArray"
                    [enrolledFingers]="enrolledFingers()"
                    [enrolledFingersCount]="enrolledFingersCount()"
                    [hasLeftHandFingers]="hasLeftHandFingers()"
                    [hasRightHandFingers]="hasRightHandFingers()"
                    [showPhotosSection]="showPhotosSection()"
                    [faceEnrollFrontPreview]="faceEnrollFrontPreview()"
                    [faceEnrollLeftProfilePreview]="faceEnrollLeftProfilePreview()"
                    [faceEnrollRightProfilePreview]="faceEnrollRightProfilePreview()"
                    (enrollDialogOpen)="openEnrollDialog()"
                    (fingerRemoved)="removeEnrolledFinger($event)"
                    (photosSectionToggle)="togglePhotosSection()"
                    (photoSelected)="onFaceEnrollPhotoSelected($event.event, $event.type)"
                    (photoRemoved)="removeFaceEnrollPhoto($event)"
                    (addressSelected)="onAddressSelected($event.data, $event.index, $event.formArray)"
                    (addressAdded)="addAddressRow($event)"
                    (addressRemoved)="removeAddressRow($event.formArray, $event.index)"
                    (saveRequested)="savePersonComplete()"
                    />
                </app-data-search-tab>
             </p-tabpanel>
             <!-- Tab 2 -->
            <p-tabpanel value="1">
                <app-fingerprint-search-tab
                    [step]="fingerprintStep()"
                    [selectedFinger]="selectedSearchFinger()"
                    [selectedFingerLabel]="selectedSearchFingerLabel()"
                    [previewUrl]="fingerprintPreviewUrl()"
                    [isLoading]="isFingerprintSearchLoading()"
                    [searchResult]="fingerprintSearchResult()"
                    [searchError]="fingerprintSearchError()"
                    [isAwaitingConfirmation]="isAwaitingMatchConfirmation()"
                    [noMatchFound]="noMatchWasFound()"
                    (fingerSelected)="selectSearchFinger($event)"
                    (captureRequested)="openCaptureDialog()"
                    (fileSelected)="onSearchFileSelected($event)"
                    (searchRequested)="searchByFingerprint()"
                    (matchConfirmed)="confirmMatch($event)"
                    (addPersonRequested)="goToAddPersonFromFingerprint()"
                    (backFromAdd)="goBackFromFingerprintAddPerson()"
                >
                <app-add-person-form
                    [form]="form"
                    [addressFormArray]="addressFormArray"
                    [enrolledFingers]="enrolledFingers()"
                    [enrolledFingersCount]="enrolledFingersCount()"
                    [hasLeftHandFingers]="hasLeftHandFingers()"
                    [hasRightHandFingers]="hasRightHandFingers()"
                    [showPhotosSection]="showPhotosSection()"
                    [faceEnrollFrontPreview]="faceEnrollFrontPreview()"
                    [faceEnrollLeftProfilePreview]="faceEnrollLeftProfilePreview()"
                    [faceEnrollRightProfilePreview]="faceEnrollRightProfilePreview()"
                    (enrollDialogOpen)="openEnrollDialog()"
                    (fingerRemoved)="removeEnrolledFinger($event)"
                    (photosSectionToggle)="togglePhotosSection()"
                    (photoSelected)="onFaceEnrollPhotoSelected($event.event, $event.type)"
                    (photoRemoved)="removeFaceEnrollPhoto($event)"
                    (addressSelected)="onAddressSelected($event.data, $event.index, $event.formArray)"
                    (addressAdded)="addAddressRow($event)"
                    (addressRemoved)="removeAddressRow($event.formArray, $event.index)"
                    (saveRequested)="savePersonComplete()"
                />

                </app-fingerprint-search-tab>
            </p-tabpanel>
            <!-- Tab 3 -->
            <p-tabpanel value="2">
                <app-face-search-tab
                    [step]="faceStep()"
                    [previewUrl]="faceSearchPreviewUrl()"
                    [isLoading]="isFaceSearchLoading()"
                    [searchResult]="faceSearchResult()"
                    [searchError]="faceSearchError()"
                    [noMatchFound]="faceNoMatchFound()"
                    [isAwaitingConfirmation]="isAwaitingFaceConfirmation()"
                    (fileSelected)="onFaceSearchFileSelected($event)"
                    (searchRequested)="searchByFace()"
                    (matchConfirmed)="confirmFaceMatch($event)"
                    (addPersonRequested)="goToAddPersonFromFace()"
                    (backFromAdd)="goBackFromFaceAddPerson()"
                >
                <app-add-person-form
                    [form]="form"
                    [addressFormArray]="addressFormArray"
                    [enrolledFingers]="enrolledFingers()"
                    [enrolledFingersCount]="enrolledFingersCount()"
                    [hasLeftHandFingers]="hasLeftHandFingers()"
                    [hasRightHandFingers]="hasRightHandFingers()"
                    [showPhotosSection]="showPhotosSection()"
                    [faceEnrollFrontPreview]="faceEnrollFrontPreview()"
                    [faceEnrollLeftProfilePreview]="faceEnrollLeftProfilePreview()"
                    [faceEnrollRightProfilePreview]="faceEnrollRightProfilePreview()"
                    (enrollDialogOpen)="openEnrollDialog()"
                    (fingerRemoved)="removeEnrolledFinger($event)"
                    (photosSectionToggle)="togglePhotosSection()"
                    (photoSelected)="onFaceEnrollPhotoSelected($event.event, $event.type)"
                    (photoRemoved)="removeFaceEnrollPhoto($event)"
                    (addressSelected)="onAddressSelected($event.data, $event.index, $event.formArray)"
                    (addressAdded)="addAddressRow($event)"
                    (addressRemoved)="removeAddressRow($event.formArray, $event.index)"
                    (saveRequested)="savePersonComplete()"
                />
                </app-face-search-tab>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</p-dialog>

<app-fingerprint-capture-dialog #captureDialog [selectedFingerLabel]="selectedSearchFingerLabel()" (fingerCaptured)="onSearchFingerCaptured($event)"></app-fingerprint-capture-dialog>

<app-fingerprint-enroll-dialog #enrollDialog [alreadyEnrolledFingers]="enrolledFingers()" (fingersEnrolled)="onFingersEnrolled($event)"></app-fingerprint-enroll-dialog>
